@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}
.glass-card {
  background: rgba(34, 118, 254, 0.2); /* Soft blue tint */
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(34, 118, 254, 0.3);
}

.glass {
  background: rgba(34, 118, 254, 0.25); /* Slightly different blue tint */
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(34, 118, 254, 0.3);
}

.body {
  background-image: 
    linear-gradient(90deg, rgba(34, 118, 254, 0.05) 0%, rgba(34, 118, 254, 0.05) 21%, rgba(0, 64, 255, 0.05) 21%, rgba(0, 64, 255, 0.05) 100%),
    linear-gradient(45deg, rgba(16, 16, 16, 0.08) 0%, rgba(16, 16, 16, 0.08) 43%, rgba(254, 254, 254, 0.08) 43%, rgba(254, 254, 254, 0.08) 100%),
    linear-gradient(135deg, rgba(35, 35, 35, 0.08) 0%, rgba(35, 35, 35, 0.08) 36%, rgba(198, 198, 198, 0.08) 36%, rgba(198, 198, 198, 0.08) 100%),
    linear-gradient(135deg, rgba(75, 75, 75, 0.08) 0%, rgba(75, 75, 75, 0.08) 54%, rgba(123, 123, 123, 0.08) 54%, rgba(123, 123, 123, 0.08) 100%),
    linear-gradient(45deg, rgba(39, 39, 39, 0.03) 0%, rgba(39, 39, 39, 0.03) 86%, rgba(229, 229, 229, 0.03) 86%, rgba(229, 229, 229, 0.03) 100%),
    linear-gradient(135deg, rgba(74, 74, 74, 0.1) 0%, rgba(74, 74, 74, 0.1) 61%, rgba(70, 70, 70, 0.1) 61%, rgba(70, 70, 70, 0.1) 100%),
    linear-gradient(90deg, rgb(100, 149, 237), rgb(176, 196, 222)); /* Cornflower blue to light steel blue */
}

.create {
  background-image: 
    linear-gradient(90deg, rgb(30, 30, 60), rgb(70, 70, 120)),
    linear-gradient(
      22.5deg,
      rgba(34, 118, 254, 0.308) 0%,
      rgb(34, 118, 254) 27%,
      rgb(45, 113, 222) 27%,
      rgb(45, 113, 222) 41%,
      rgb(57, 108, 190) 41%,
      rgb(57, 108, 190) 48%,
      rgb(68, 103, 157) 48%,
      rgb(68, 103, 157) 64%,
      rgb(80, 98, 125) 64%,
      rgb(80, 98, 125) 65%,
      rgb(91, 93, 93) 65%,
      rgb(91, 93, 93) 100%
    ),
    linear-gradient(
      112.5deg,
      rgb(34, 118, 254) 0%,
      rgb(34, 118, 254) 27%,
      rgb(45, 113, 222) 27%,
      rgb(45, 113, 222) 41%,
      rgb(57, 108, 190) 41%,
      rgb(57, 108, 190) 48%,
      rgb(68, 103, 157) 48%,
      rgb(68, 103, 157) 64%,
      rgb(80, 98, 125) 64%,
      rgb(80, 98, 125) 65%,
      rgb(91, 93, 93) 65%,
      rgb(91, 93, 93) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(34, 118, 254) 0%,
      rgb(34, 118, 254) 27%,
      rgb(45, 113, 222) 27%,
      rgb(45, 113, 222) 41%,
      rgb(57, 108, 190) 41%,
      rgb(57, 108, 190) 48%,
      rgb(68, 103, 157) 48%,
      rgb(68, 103, 157) 64%,
      rgb(80, 98, 125) 64%,
      rgb(80, 98, 125) 65%,
      rgb(91, 93, 93) 65%,
      rgb(91, 93, 93) 100%
    );
  background-blend-mode: overlay, overlay, overlay, normal;
}

html {
  scroll-behavior: smooth;
}


